
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" routerLink="/Customer" >Manage Customers</a></li>
        <li id="outageNav" class="nav-item"><a class="nav-link active" routerLink="/Outages">Manage Outages</a></li>
      </ul>
  
      <router-outlet></router-outlet>

<div class="wrapper">
    <div class="one">

        <p><u>Order By</u></p>
<mat-button-toggle-group name="filterToggle" aria-label="filter" id="toggle">
  <mat-button-toggle (click)="getOutagesByRecovery()" >Recovery</mat-button-toggle>
  <mat-button-toggle (click)="getByCreation()" >Creation</mat-button-toggle>
</mat-button-toggle-group>

<br>
<br>


<p><u>Create A New Outage</u></p>
<form #addForm="ngForm" (ngSubmit)="addOutage(addForm)"> 

    <div class ="form-group" >
        <label for="outageType">Type</label>
        <input ngModel name="outageType"  id="outageType" placeholder="Outage Type"  type="text" class="form-control">
       <!-- <div *ngIf="email.invalid">Email is required</div>-->
      </div>
      <br>
    <div class ="form-group">
      <label for="zipCode">Zipcode</label>
    <input  ngModel name="zipCode" id="zipCode" placeholder="Zipcode" type="number" class="form-control">
    </div>
    <br>
    <button  id="formButton" type="submit" class="btn btn-primary">Create</button>
  </form>
    </div>
<br>



    <div class="two" >
        
        <br>
      
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table user-list">
                                    <thead>
                                        <tr>
                                        <th><span>Outage Type</span></th>
                                        <th><span>Created</span></th>
                                        <th class="text-center"><span>Recovery</span></th>
                                        <th><span>Location</span></th>
                                        <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let out of outages">
                                            <td>
                                                <i id="elecIcon" class={{getIcon(out.outageType)}}></i>
                                                <a>{{out.outageType}}</a>
                                            </td>
                                            <td>{{out.creationTime}}</td>
                                            <td class="text-center">
                                                <a>{{out.recoveryTime[0]}}hrs/{{out.recoveryTime[1]}}mins</a>
                                            </td>
                                            <td>
                                                <a>{{out.zipCode}}</a>
                                            </td>
                                            <td style="width: 20%;">
                                                <a class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i (click)="deleteOutage(out.outageType,out.zipCode)" class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="noOutages" *ngIf="outages?.length == 0">
            No Outages To Display
           <br>
           <i id="boxIcon" class="fa-solid fa-box-open"></i>
       </div>

        <br>
    </div>
    <br>
    </div>





        

