/*----------- mobile view ----------- */







/*---------- end mobile view ---------- */


.title{
    color: white;
    font-size: 24px;
}

.navbar{
    top: 0;
    margin-bottom: 10px;
   background-color: rgb(19, 21, 22);
   height: 75px;
}

#barLink{
    font-size: 14px;
    color: white;
    margin-right: 50px;
    width: 130px;
    height: 100%;
    text-align: center;
}
#barLink:hover{
  border-right: 1px solid white;
  border-left: 1px solid white;
  transition: 0.3s;
}



  .bottom-dash{
    width: 100%;
    height: 300px;
    background-color: rgb(19, 21, 22);
  }

  .bottom-dash span{
    cursor: pointer;
  }
  .bottom-dash span:hover{
    text-decoration: underline gray;
  }
  
  .social-links a{
    margin-right: 20px;
    color: white;
  }
  
  .social-links{
    float: left;
    font-size: 50px;
    padding-top: 75px;
    margin-left: 150px;
  }
  
  .social-links a:hover{
    color: rgb(238, 87, 40);
    transition: 0.3s;
  }
  
  
  .relevant-links{
    float: left;
    color: gray;
    padding-top: 75px;
    text-align: center;
    font-size: 15px;
    margin-left: 50px;
  }

  .relevant-links a{
    color: rgb(238, 87, 40);
  }
  
  .company-links{
    float: left;
    color: gray;
    padding-top: 75px;
    text-align: center;
    font-size: 15px;
    margin-left: 100px;
  }
  
  .company-links a{
  color: gray
  }
  
  .info-links{
    float: left;
    color: gray;
    padding-top: 75px;
    text-align: center;
    font-size: 15px;
    margin-left: 50px;
  }

