
/* ------------------ Header ---------------- */
h1{
    height: 50px;
    background-color: white;
    text-align: center;
    font-family: 'Abel', sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 0;
}


.navbar{
    top: 0;
    margin-bottom: 10px;
}

#barLink{
    font-size: 17px;
}

#barLink:hover{
    color: white;
    transition: 0.3s;
  }

  /*
.socialLinks{
    float: right;
    font-size: 40px;
    margin-right: 0;
    margin-left: 55%;
    display: flex;
}

.socialLinks a{
    margin-left: 20px;
}

.socialLinks a:hover{
    color: white;
    transition: 0.3s;
}
*/