
<h1><u>Acadiana Power</u></h1>


<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a id="barLink" class="nav-item nav-link" routerLink="/Login">Login</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Register">Sign Up</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Dashboard">Dashboard</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Customer">Admin Home</a>
    </div>
</nav>

                <router-outlet></router-outlet>


<!--<footer>Providing Utility Services Since 2022</footer>-->