
<h1><u>Acadiana Power</u></h1>


<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a id="barLink" class="nav-item nav-link" routerLink="/Login">Login</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Register">Register</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Dashboard">Dashboard</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Report">Report</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Customer">Admin</a>


    </div>
 <!--   <div class="socialLinks">
        <a href="https://twitter.com/" target="_blank" ><i class="fa-brands fa-twitter-square"></i></a>
        <a href="https://facebook.com/" target="_blank" ><i class="fa-brands fa-facebook-square"></i></a>
        <a href ="https://linkedin.com/" target="_blank" ><i class="fa-brands fa-linkedin"></i></a>
    
    </div>-->


</nav>


                <router-outlet></router-outlet>


<!--<footer>Providing Utility Services Since 2022</footer>-->