
<nav class="navbar">
    <div class="title">Acadiana Power</div>
    <div class="navbar-nav navbar-expand">
        <a id="barLink" class="nav-item nav-link" routerLink="/">Login</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Dashboard">Dashboard</a>
        <a id="barLink" class="nav-item nav-link" routerLink="/Customer">Admin</a>
    </div>
</nav>


                <router-outlet></router-outlet>

<div class="bottom-dash">

    <div class="company-links">
        <b>Company</b>
        <br>
        <br>
        <span>About Us</span><br>
        <br>
        <a href="mailto:acadianapowerandservices@gmail.com">Contact Us</a><br>
        <br>
        <span>Careers</span><br>
        <br>
    </div>

    <div class="info-links">
        <b>Information</b>
        <br>
        <br>
        <span>Privacy</span><br>
        <br>
        <span>Cookies</span><br>
        <br>
        
    </div>

    <div class="relevant-links">
        <b>Relevant Links</b>
        <br>
        <br>
        <a href="https://www.klfy.com/weather/" target="_blank">klfy.com/weather/</a>
        <br>
        <br>
        <a href="http://www.dnr.louisiana.gov/index.cfm/page/231" target="_blank">dnr.louisiana.gov</a> 
        <br>
        <br>
        <a href="https://www.fema.gov/locations/louisiana" target="_blank">fema.gov/locations/louisiana</a> 
    </div>


    <div class="social-links">

    <a href="https://twitter.com/" target="_blank" ><i class="fa-brands fa-twitter-square"></i></a>
    <a href="https://facebook.com/" target="_blank" ><i class="fa-brands fa-facebook-square"></i></a>
    <a href ="https://linkedin.com/" target="_blank" ><i class="fa-brands fa-linkedin"></i></a>

    </div>

</div>