
/* ------------------ Header ---------------- */
h1{
    height: 50px;
    background-color: white;
    text-align: center;
    font-family: 'Abel', sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 0;
}


.navbar{
    top: 0;
    margin-bottom: 10px;
}

#barLink{
    font-size: 17px;
    color: gray;
    margin-left: 20px;
}


#barLink:hover{
    color: black;
    transition: 0.3s;
    text-decoration: underline black;
  }

