
    <div class="main">            
        <form action="#" class="report-form" novalidate="novalidate">
  
                <form #emailForm="ngForm" (ngSubmit)="reportOutage(emailForm)" >

                
                    <div id="serviceArea" class="form-group">
                      <mat-form-field appearance="fill">
                        <mat-label>Service Type</mat-label>
                        <mat-select ngModel name="service">
                          <mat-option *ngFor="let type of serviceTypes" [value]="type.value">
                            {{type.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                
                    </div>

                    <div id="zipCodeArea" class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Service Area</mat-label>
                            <mat-select ngModel name="zipCode">
                              <mat-option *ngFor="let area of serviceAreas" [value]="area.value">
                                {{area.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                    </div>

                    <div id="email-box" class="form-group">
                        <input ngModel name="sender" type="text" class="form-control"placeholder="Email">
                    </div>
        

                    <div id="message-body" class="form-group">
                        <label class="required-field" for="message">Please give a brief description</label>
                        <textarea id="messageBox" ngModel name="message" class="form-control" rows="4" placeholder="Hello, I'm having an issue with..."></textarea>
                    </div>
                

                <div class="bottom-div">
                    <button (click)="openAlertDialog()" type="submit" name="submit" class="btn btn-primary">Submit</button>
                    <span (click)="closeReportDialog()" id="cancel" class="material-symbols-outlined">
                        cancel
                    </span>
                </div>

            </form>

        
        </form>

</div>