.main{
    width: 400px;
    background-color: white;
    float: right;
}

#serviceArea input{
    width: 100%;
}

#serviceArea{
    float: left;
    width: 40%;
    margin-top: 2%;
}

#zipCodeArea input{
    width: 100%;
}

#zipCodeArea{
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-top: 2%;
}

#email-box{
    width: 60%;
}

#message-body{
    width: 90%;
}

#cancel{
    cursor: pointer;
    font-size: 40px;
    float: right;
    margin-right: 10%;
}
#cancel:hover{
    color: rgb(216, 68, 68);
}