
body
{
  font-family: 'Roboto', sans-serif;
}

div.widget
{
  width: 240px;
  height: 100px;
  background-color: #eaf3f3;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}


#wIcon {
    font-size: 50px;
    margin-top: 15px;
    color: rgb(42, 87, 172);
}

div.left-panel
{
margin-top: -20px;
}

.info
{
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,0,0.5,0.9);
}

div.city
{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
  top: 0;
}

div.temp
{
  font-size: 50px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
  padding-bottom: 12px;
  padding-top: 12px;
}

div.right-panel
{

  position: absolute;
  float: right;
  top: 0;
  margin-left: 140px;
  margin-top: 130px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.one {
  grid-column: 1/3;
  height: 200px;
}
.two {
  grid-column: 3;
}

#radar{
  margin-left: 50px;
}


#mapImg{
  height:600px;
  width:500px;
  margin-left: 200px;
}


.table-responsive{
  height:400px;
  font-size: 12px;
  width: 88%;
  margin-left: 100px;
  margin-top: -50px;

}

#myTable{
  overflow-y: auto;
}

.dashHead{
  height: 350px;
  width: 80%;
  background: linear-gradient(135deg, rgb(255, 254, 254) 50%, rgb(248, 222, 201) 35%);
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

.sideDashHead{
  float : right;
  padding-top: -150px;
  margin-right: 50px;
}

.socialLinks{
  font-size: 50px;
  display: flex;
}

#connect{
  margin-top: 30px;
  margin-left: 60px;
}

.socialLinks a{
  margin-left: 20px;
}

.socialLinks a:hover{
  color: rgb(19, 18, 18);
  transition: 0.3s;
}

.dashTitle{
  padding-top: 35px;
}
.dashTitle h1{
  padding-left: 200px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

#logoImg{
  height: 300px;
  width: 450px;
  margin-left: -100px;
  float: left;
}


.wrapper{
  margin-top: 100px;
}

#welcomeMsg{
  font-size: 20px;
  border-left: solid black 1px;

}