


/* -------------------------------------------- */

.my-dashboard{
  width:100%;
  background-color: rgb(163, 163, 217);
  margin-top: -10px;
  margin-bottom: -30px;
}

.title-section{
  width: 60%;
  text-align: center;
  margin-left: 20%;
  height: 250px;
  background: linear-gradient(135deg, rgb(255, 254, 254) 50%, rgb(248, 222, 201) 35%);
  margin-bottom: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title-name{
  padding-top: 20px;
  font-size: 30px;
  font-variant: small-caps; 
  background: none;
  color: rgb(19, 21, 22);
  font-family: 'Rubik', sans-serif;
  margin-bottom: 20px;
}
.title-name hr{
  color:white;
}

.title-msg{
  color: white;
  background: none;
  font-variant: small-caps;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  color: rgb(19, 21, 22);

}

.section-1{
  width: 80%;
  height: 250px;
  background-color: white;
  border-radius: 8px;
  margin-left: 10%;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.section-2{
  height: 200px;
  background: none;
}

.s2-1{
  width: 35%;
  height: 150px;
  background-color: white;
  border-radius: 8px;
  margin-left: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: left;
}

.s2-2{
  width: 35%;
  height: 150px;
  background-color: white;
  border-radius: 8px;
  margin-left: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: left;
}

.s2-2-a{
  height:100%;
  width:50%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  float: left;
  background: none;
  text-align: center;
  font-size: 15px;
}
.s2-2-b{
  height:100%;
  width:50%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  float: left;
  background-image: url('/assets/imgs/email_gif.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.s2-1-a{
  height:100%;
  width:50%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px solid gray;
  float: left;
  background: none;
}
.s2-1-b{
  height:100%;
  width:50%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  float: left;
  text-align: center;
}

#outage-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#outage-table td, #outage-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#outage-table tr:nth-child(even) {
  background-color: #dddddd;
}
.table-container{
  overflow-y: auto;
  margin-left: 50px;
  float: left;
  width: 75%;
  height:150px;
}



.date{
  float: left;
  background-color: #edf1fc;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-left: 15px;
  display: grid;
  place-items: center;
}

.date-day{
  color: #4e73e5;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

.date-month{
  color: #4e73e5;
  line-height: 1;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: -15px;
  font-weight: 600;
}



.info
{
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,0,0.5,0.9);
  padding-left: 10px;
  padding-top: 10px;
}

.city
{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.temp
{
  font-size: 50px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#warningIcon{
  color: rgb(234, 58, 58);
  font-size: 30px;
  margin-top: 10px;
}

.weather-info{
  float: left;
}

#sunny{
  float: left;
  font-size: 45px;
  margin-left: -5px;
  margin-top: 20px;
  color: rgb(252, 239, 98);
}

#other{
  float: left;
  font-size: 45px;
  margin-left: -5px;
  margin-top: 20px;
  color:rgb(165, 161, 161);
}


.section-3{
  width: 80%;
  height: 620px;
  background-color: white;
  border-radius: 8px;
  margin-left: 10%;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#mapImg{
  height:500px;
  width:450px;
  float: left;
  margin-top: 75px;
  margin-left: 5px;
}

.s3-1{
  width: 45%;
  float: left;
}

.s3-2{
  width: 55%;
  float: left;
}

.section-4{
  width: 80%;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  margin-left: 10%;
  margin-bottom: 30px;
 /* padding-bottom: 30px;*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.out-table-title{
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 25x;
  font-weight: 500;
  border-bottom: 1px solid gray;

}

#nws-radar{
  border:none;
  margin-top: 30px;
  margin-left: 50px;
}

.s3-title{
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  height: 30px;
}


#map-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#map-table td, #map-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#map-table tr:nth-child(even) {
  background-color: #dddddd;
}
.map-table-container{
  overflow-y: auto;
  /*margin-left: 12.5%;*/
  margin-top: 20px;
  width: 100%;
  height:550px;
}