
.dashboard{
  background-color: white;
  width: 100%;

}
/*---------------- top dash -------------*/
.top-dash{
  width: 90%;
  height: 400px;
  background: linear-gradient(135deg, rgb(255, 254, 254) 50%, rgb(248, 222, 201) 35%);
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.main-title{
  padding-top: 60px;
  margin-left: 25%;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
}

.welcome-msg{
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

/*---------------- notif dash -------------*/

.outage-info{
  border: 1px solid gray;
  float: right;
  width:100px;
  margin-bottom: 10px;
}

.notification-dash{
  width: 90%;
  height: 350px;
  background-color: rgb(149, 204, 197);
  margin-left: auto;
  margin-right: auto;
}

.notification-dash .title{
  margin-left: 50%;
  margin-right: 50%;
  padding-top: 30px;
}

#notif-icon{
  font-size: 32.5px;
  margin-left: 15px;
  margin-top: 15px;
}

.mid-circle{
  height:65px;
  width: 65px;
  background-color: white;
  margin-left: 45%;
  margin-right: 45%;
  border-radius: 50px;
  margin-top: -32.5px;
  position: absolute;
  border: 0.5px solid gray;
}

.notif-container{
  float: left;
  height: 230px;
  width: 500px;
  margin-top: 50px;
  margin-left: 20px;
  background-color: white;
  border-radius: 8px;;
}

.notif-container .top{
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  
}

.outage-container{
  height: 100px;
}

.no-outages{
  text-align: center;
}

.outage-table{
  float: left;
  margin-left: 30px;
}

#outage-info{
  overflow-y: auto;
}

.date{
  float: left;
  background-color: #edf1fc;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-left: 15px;
  display: grid;
  place-items: center;
}

.date-day{
  color: #4e73e5;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

.date-month{
  color: #4e73e5;
  line-height: 1;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: -15px;
  font-weight: 600;
}

.report-container{
  float: left;
  height: 275px;
  width: 350px;
  margin-top: 37.5px;
  margin-left: 200px;
  background-color: white;
  border-radius: 8px;

}

.report-container .top{
  margin-top: 10px;
  text-align: center;
}

#report-button{
  height: 30px;
  width: 150px;
  background-color: rgb(97, 29, 97);
  color:rgb(241, 238, 238);
  text-align: center;
  border-radius: 15px;
  margin-left: 100px;
  border: none;
}

#report-button:hover{

  text-decoration: none;
  color: white;
  background-color: rgb(134, 48, 134);
  transition: 0.2s;
}

.report-msg{
  text-align: center;
}


/*---------------- map dash -------------*/

.map-dash{
  width: 90%;
  height: 650px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.map-dash .title{
  margin-left: 50%;
  margin-right: 50%;
}

#map-icon{
  font-size: 32.5px;
  margin-left: 20px;
  margin-top: 15px;
  color: rgb(62, 153, 77);

}

#mapImg{
  height:550px;
  width:450px;
  float: left;
  margin-top: 75px;
}

#myTable{
  overflow-y: auto;
}

.table-responsive{
  height:450px;
  font-size: 12px;
  width: 525px;
  margin-left: 125px;
  margin-top: 75px;
}


/*---------------- radar dash -------------*/

.radar-dash{
  width: 90%;
  height: 480px;
  background-color: rgb(211, 214, 211);
  margin-left: auto;
  margin-right: auto;
}

.radar-dash .title{
  margin-left: 50%;
  margin-right: 50%;
}

#weather-icon{
  font-size: 32.5px;
  margin-left: 21.5px;
  margin-top: 15px;
  color:rgb(240, 141, 61);
}

.radar-container{

  background-color: white;
  height: 380px;
  width: 420px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  float: left;
  border-radius: 8px;
}

#nws-radar{
  border: none;
  margin-left: 35px;
  margin-top: 18px;
}

/* -------------------- Weather Widget --------------- */

.widget{
  float: left;
  margin-left: 200px;
}

div.widget
{
  width: 240px;
  height: 300px;
  background-color: white;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 250px;
}


#wIcon {
    font-size: 50px;
    color: rgb(42, 87, 172);
}

div.left-panel
{
margin-top: -20px;
}

.info
{
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,0,0.5,0.9);
}

div.city
{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
  top: 0;
}

div.temp
{
  font-size: 50px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
  padding-bottom: 12px;
  padding-top: 12px;
}

div.right-panel
{

  margin-top: -100;
  margin-bottom: 250px;
  margin-left: 140px;
}



/* --------------------------------------- */
