<link href="https://fonts.googleapis.com/css2?family=Nobile&display=swap" rel="stylesheet">
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 ">
             <div class="list-group ">


        <a routerLink="/Dashboard" id="current" class="list-group-item list-group-item-action">
            <span class="material-symbols-outlined">home</span>Home</a>
        <a routerLink="/outages" id="tab" class="list-group-item list-group-item-action">
            <span id="outage-icon" class="material-symbols-outlined">power_off</span>Outages</a>
        <a routerLink="/map" id="tab" class="list-group-item list-group-item-action">
            <span id="map-icon" class="material-symbols-outlined">map</span>Service Map</a>
        <a routerLink="/radar" id="tab" class="list-group-item list-group-item-action">
            <span id="radar-icon" class="material-symbols-outlined">radar</span>Weather Radar</a> 
                
                     




            </div> 
        </div>
        <div class="col-md-9">

            <router-outlet></router-outlet>

        
        <div class="top">
            <div class="t-1">
                <div class="date">
                    <span class="date-day">{{day}}</span>
                    <span class="date-month">{{month}}</span>
                    </div> 
                <div class="main-title">
                    Acadiana Power <br> <br> <br>
                    Dashboard
                </div>
                

            </div>
            <div class="t-2" *ngFor="let w of weatherInfo"> 


                    <div class="weather-info">
                    <div class="city">
                      Lafayette, LA
                  </div>
                  <div class="temp">
                    {{w.temperature}}&deg;
                  </div>
                  <div class = "conditions">
                   <i class="fa-solid fa-wind"></i> {{w.windSpeed}}mph | {{w.conditions}}
            
                  </div>
                </div>
            
                  <i id={{iconID}} class={{iconClass}}></i> 
            
            



            </div>
        </div>
     
        <div class="bottom">
            <a href="mailto:acadianapowerandservices@gmail.com" class="b-1"> 
               
               <div class="icon"><i id="mail-icon" class="fa-solid fa-envelope"></i> </div> 
                <div class="title">
                    Email Us
                    
                </div>

                <div class="info">
                    acadianapowerand<br>services@gmail.com
                </div>
                
            </a>
            <a (click)="openReportDialog()" class="b-2">
                <div class="icon"><span id="report-icon" class="material-symbols-outlined">report</span></div>
                <div class="title">
                    Report Outage
                </div> 
                
            </a>
                
            <a target="_blank" href="https://www.weather.gov/erh/ghwo?wfo=lix" class="b-3"> 
                <div class="icon">
                    <i id="warningIcon" class="fa-solid fa-triangle-exclamation"></i>
                </div>

                <div class="title">
                    Weather <br>
                    Advisories
                </div>
                
                
            </a>

        </div>

        </div>
    </div>
</div>