<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="#" crossorigin="anonymous">

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 ">
             <div class="list-group ">

                <a routerLink="/Dashboard" id="tab" class="list-group-item list-group-item-action">
                    <span id="home-icon" class="material-symbols-outlined">home</span>Home</a>
                <a routerLink="/outages" id="current" class="list-group-item list-group-item-action">
                    <span  class="material-symbols-outlined">power_off</span>Outages</a>
                <a routerLink="/map" id="tab" class="list-group-item list-group-item-action">
                    <span id="map-icon" class="material-symbols-outlined">map</span>Service Map</a>
                <a routerLink="/radar" id="tab" class="list-group-item list-group-item-action">
                    <span id="radar-icon" class="material-symbols-outlined">radar</span>Weather Radar</a>
            





            </div> 
        </div>
        <div class="col-md-9">

            <router-outlet></router-outlet>

            
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 border-right">
                <h4>Outages</h4>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover ">
                    <thead class="bg-light ">
                        <tr>
                            <th>Type</th>
                            <th>Created At</th>
                            <th>Recovery Time</th>
                            <th>Zipcode</th>    
                        </tr>
                    </thead>
                    <tbody *ngFor="let out of outages">
                        <tr>
                          <td>{{out.outageType}}</td>
                          <td>{{out.creationTime}}</td>
                         <td>{{isResolved(out.recoveryTime)}}</td>
                          <td>{{out.zipCode}}</td>  
                        </tr>
                      </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
</div>


