#current{
    color: white;
    background-color: rgb(51, 113, 237);
}

#tab:hover{
    color: white;
    background-color: rgb(51, 113, 237);
  }

  span{
    vertical-align: middle;
    padding-right: 5px;
  }

#home-icon{
  color: rgb(51, 113, 237);

}

#map-icon{
  color: rgb(131, 101, 75);
}

#radar-icon{
  color: rgb(85, 129, 65);
}

#report-icon{
  color: rgb(186, 70, 70);
}

/*----------*/

#home-icon:hover{
  color:white;
}

#map-icon:hover{
  color: white;
}

#radar-icon:hover{
  color: white;
}

#report-icon:hover{
  color: white;
}