<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">

<div class="top-container">
    <div class="blank"></div>
   
    <div class="container">


        <div class="screen">

            <div class="screen__content">
                <div class="title">
                    Acadiana Power
                    <br>
                    
                   <div class="main-icon"> <i id="bolt" class="fa-solid fa-bolt"></i></div>
                </div>
                <form class="login">
                    <div class="login__field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" class="login__input" placeholder="User name / Email">
                    </div>
                    <div class="login__field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Password">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Log In Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                <!--<div class="social-login">-->
                    
                    <div class="login-social">
                    <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
    </div>
<!--$$$$$$$$$$$$ about $$$$$$$$$$$-->
<div class="about-section">

    <div class="about-title">What We Do</div>

        <div class="services">

            
            <div class="solar">
                <i id="icon" class="fa-solid fa-solar-panel"></i>
                <br>
                Tired of conventional electric power?
                <br>
                We install solar panels to residential
                <br>
                and business locations.
                <br>
                <br>
                <span>LEARN MORE ></span>
            </div>

            <div class="weather">
                <i id="icon" class="fa-solid fa-tornado"></i>
                <br>
                Notifications and alerts of incoming
                <br>
                inclement weather and including
                <br>
                state issued advisories.
                <br>
                <br>
                <span>LEARN MORE ></span>
            </div>

            <div class="outages">
                <i id="icon" class="fa-solid fa-plug-circle-xmark"></i>
                <br>
                If there is ever an outage in your electric
                <br>
                or internet services, you will receive a 
                <br>
                notification alert via text and email.
                <br>
                <br>
                <span>LEARN MORE ></span>
            </div>
            
            

            


         

      

           
        </div>
</div>


